@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: 'Arvo-Bold';
  src: url('../assets/fonts/Arvo/Arvo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf') format('woff');
}

#logo {
  font-family: 'Arvo-Bold' !important;
}

h1 {
  font-family: 'EB Garamond' !important;
  font-weight: bold;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.definitionError {
  top: -2.25rem;
}

.responsive-container {
  @apply w-11/12;
}

/* Large (lg) */
@media (min-width: 1024px) {
  .responsive-container {
    @apply w-7/12;
    min-width: 986px;
  }
}