@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arvo';
  src: url('../assets/fonts/Arvo/Arvo-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Arvo';
  src: url('../assets/fonts/Arvo/Arvo-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf') format('woff');
}

.page-container {
  @apply flex;
  @apply flex-col;
  @apply items-center;
}

#logo {
  font-family: 'Arvo' !important;
  font-weight: 700;
  @apply transition-all;
  @apply duration-200;
  width: 150px;
}

#logo:hover {
  opacity: .6;
}

h1 {
  font-family: 'EB Garamond' !important;
  font-weight: 700;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.definitionError {
  top: -2.25rem;
}

.modal-container {
  @apply bg-white;
  @apply border-current;
  @apply border-solid;
  @apply border;
  @apply border-gray-200;
  @apply max-h-full;
  @apply w-full;
  @apply p-10;
  @apply rounded-lg;
  @apply shadow-lg;
  @apply overflow-auto;
  @apply text-gray-800;
}

.responsive-container {
  @apply items-center;
  @apply w-11/12;
  @apply px-2;
}

/* Form styles */
.form-input {
  @apply h-10;
  @apply w-full;
  @apply border-current;
  @apply border-solid;
  @apply border;
  @apply border-gray-600;
  @apply rounded-md;
  @apply px-3;
  @apply py-5;
}

.form-textarea {
  @apply w-full;
  @apply border-current;
  @apply border-solid;
  @apply border;
  @apply border-gray-600;
  @apply rounded-md;
  @apply px-3;
  @apply py-2;
}

.list-container {
  @apply flex;
  @apply items-center;
  @apply mb-10;
}

.button {
  @apply h-10;
  @apply mt-5;
  @apply text-gray-600;
}

.primary-button {
  @apply bg-green-600;
  @apply rounded;
  @apply text-gray-100 !important;
}

.form-header {
  @apply text-xl;
  @apply mb-2;
  @apply mt-5;
}

.error {
  @apply text-red-500;
  @apply mt-3;
}

.welcomeSceneContainer {
  @apply flex !important;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  @apply outline-none;
  @apply text-center;
}

.welcomeSceneContainer h1 {
  @apply text-2xl;
  @apply text-gray-700;
  font-family: 'Arvo' !important;
  font-weight: 700;
}

.welcomeSceneContainer p {
  @apply text-gray-500;
  @apply w-full;
  @apply my-3;
  font-family: 'Arvo' !important;
  font-weight: 400;
}

.welcomeSceneContainer img {
  @apply w-full;
}

.slick-slider {
  @apply flex !important;
  @apply flex-row;
  @apply items-end;
}

.slick-next, .slick-prev {
  @apply text-white;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: '→';
}

.slick-prev:before, [dir=rtl] .slick-next:before {
  content: 'Back';
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  @apply text-green-500;
}

.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  @apply text-gray-500;
}
.link {
  @apply transition-all;
  @apply duration-300;
  @apply underline;
  @apply text-green-600;
}
.link:hover {
  @apply text-green-500;
}

/* Large (lg) */
@media (min-width: 1024px) {
  #logo {
    font-family: 'Arvo' !important;
    font-weight: 700;
    @apply transition-all;
    @apply duration-200;
    width: 170px;
  }

  .modal-container {
    @apply w-10/12;
    @apply p-12;
  }
  .button {
    @apply h-10;
    @apply w-32;
    @apply text-gray-600;
  }
  .responsive-container {
    min-width: 986px;
    max-width: 986px;
  }

  .welcomeSceneContainer h1 {
    @apply text-3xl;
    @apply text-gray-700;
    font-family: 'Arvo' !important;
    font-weight: 700;
  }
  
  .welcomeSceneContainer p {
    @apply text-gray-500;
    @apply w-10/12;
    @apply my-3;
    font-family: 'Arvo' !important;
    font-weight: 400;
  }

  .welcomeSceneContainer img {
    @apply w-6/12;
  }
}