@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: 'Arvo-Bold';
  src: url('../assets/fonts/Arvo/Arvo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('../assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf') format('woff');
}

.page-container {
  @apply flex;
  @apply flex-col;
  @apply items-center;
}

#logo {
  font-family: 'Arvo-Bold' !important;
}

h1 {
  font-family: 'EB Garamond' !important;
  font-weight: bold;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.definitionError {
  top: -2.25rem;
}

.modal-container {
  @apply bg-white;
  @apply border-current;
  @apply border-solid;
  @apply border;
  @apply border-gray-200;
  @apply max-h-full;
  @apply w-full;
  @apply p-12;
  @apply rounded-lg;
  @apply shadow-lg;
  @apply overflow-scroll;
  @apply text-gray-800;
}

.responsive-container {
  @apply w-11/12;
  @apply px-2;
}

/* Form styles */
.form-input {
  @apply h-10;
  @apply w-full;
  @apply border-current;
  @apply border-solid;
  @apply border;
  @apply border-gray-600;
  @apply rounded-md;
  @apply px-3;
  @apply py-5;
}

.list-container {
  @apply flex;
  @apply items-center;
  @apply mb-10;
}

.button {
  @apply h-10;
  @apply mt-5;
  @apply text-gray-600;
}

.primary-button {
  @apply bg-green-600;
  @apply rounded;
  @apply text-gray-100 !important;
}

.form-header {
  @apply text-xl;
  @apply mb-2;
  @apply mt-5;
}

.error {
  @apply text-red-500;
  @apply mt-3;
}

/* Large (lg) */
@media (min-width: 1024px) {
  .modal-container {
    @apply w-10/12;
  }
  .button {
    @apply h-10;
    @apply w-32;
    @apply text-gray-600;
  }
  .responsive-container {
    min-width: 986px;
    max-width: 986px;
  }
}