@tailwind base;
@tailwind components;
@tailwind utilities;

.jsonPretty {
  height: 600px;
  max-height: 600px;
  width: 600px;
  overflow: scroll;
  font-size: 1em;
  background-color: rgb(249, 249, 249);
}

.__json-key__ {
  color: black;
}
.__json-string__ {
  color: rgb(0, 77, 15);
}