@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  font-family: 'Silka', sans-serif;
  font-weight: normal;
}

h1 {
  font-family: 'Silka', sans-serif;
  font-weight: 900;
}

h2, h3, a {
  font-family: 'Silka', sans-serif;
  font-weight: 700;
}

.transition-element {
  @apply transition-all;
  @apply duration-200;
  @apply ease-in-out;
}

.header {
  @apply text-3xl;
  @apply font-bold;
  @apply text-gray-900;
}

.jsonPretty {
  height: 600px;
  max-height: 600px;
  max-width: 95vw;
  overflow: scroll;
  font-size: 1em;
  background-color: rgb(249, 249, 249);
}

.__json-key__ {
  color: black;
}
.__json-string__ {
  color: rgb(0, 77, 15);
}

.demo-inputs-container {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 768px) {
  .demo-inputs-container {
    max-width: 600px;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .jsonPretty {
    height: 600px;
    max-height: 600px;
    max-width: 600px !important;
    width: 600px !important;
    overflow: scroll;
    font-size: 1em;
    background-color: rgb(249, 249, 249);
  }
}

.card-container {
  width: 250px;
  height: 250px;
}