@font-face {
  font-family: 'Akagu';
  src: url('public/fonts/Akagu2020.ttf');
  font-display: swap;
}

.akagu {
  font-family: 'Akagu', 'sans-serif' !important;
}

/* Style sheet dedicated to element tag styling */
html {
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

*,
button:focus {
  outline: rgba(41, 123, 48, 0.4);
}

audio::-webkit-media-controls-panel {
  @apply bg-white;
  @apply border-solid;
}
audio::-webkit-media-controls-enclosure {
  @apply rounded-md;
  @apply border-solid;
  @apply border-gray-200;
}
audio::-webkit-media-controls-timeline {
  stroke: #f5fbff;
}