@font-face {
  font-family: 'Akagu';
  src: url('public/fonts/Akagu2020.ttf');
  font-display: swap;
}

.akagu {
  font-family: 'Akagu', 'sans-serif' !important;
}

/* Style sheet dedicated to element tag styling */
html {
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

input:not([data-test='search-bar']):not([type='checkbox']):not([disabled]),
textarea {
  @apply transition-all;
  @apply duration-100;
}
input:not([data-test='search-bar']):not([type='checkbox']):not([disabled]):hover,
textarea:hover {
  border-color: rgba(41, 123, 48, 0.4);
  box-shadow: 0 0 0 4px rgba(66, 196, 77, 0.1);
}

input:not([data-test='search-bar']):not([type='checkbox']):not([disabled]):focus,
textarea:focus {
  border-color: rgba(41, 123, 48, 0.4);
  box-shadow: 0 0 0 4px rgba(66, 196, 77, 0.1);
  outline: rgba(41, 123, 48, 0.4);
}

*,
button:focus {
  outline: rgba(41, 123, 48, 0.4);
}

.ant-checkbox-inner,
.ant-checkbox-input {
  transform: scale(1.3);
}
