@tailwind base;
@tailwind components;
@tailwind utilities;
@import './general.css';

.transition-element {
  @apply flex;
  @apply items-center;
  @apply transition-all;
  @apply duration-200;
  @apply ease-in-out;
}

.header {
  @apply text-3xl;
  @apply font-bold;
  @apply text-gray-900;
}

.link {
  @apply transition-element;
  @apply text-blue-400;
  @apply inline;
}

.link:hover {
  @apply text-blue-700;
}

.primary-button {
  @apply cursor-pointer;
  @apply rounded-full;
  @apply w-full;
  @apply mt-6;
  @apply bg-blue-500;
  @apply text-white;
  @apply py-2;
  @apply px-4;
  @apply hover:bg-white;
  @apply hover:text-black;
  @apply transition-all;
  @apply duration-200;
}

.error {
  @apply text-red-600;
}

.jsonPretty {
  height: 500px;
  max-height: 600px;
  overflow: overlay;
  font-size: 1em;
  color: rgb(153, 218, 255);
}

.__json-key__ {
  color: rgb(184, 245, 209);
}
.__json-string__ {
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .jsonPretty {
    height: 450px;
    max-height: 600px;
    overflow: overlay;
    font-size: 1em;
  }
}

.rFix {
  transform: rotateX(25deg);
}

.mentioned-in img {
  transition: all 0.1s ease;
  width: 150px;
}

.mentioned-in img:hover {
  /* filter: invert(44%) sepia(25%) saturate(728%) hue-rotate(89deg) brightness(94%) contrast(81%); */
}
