@tailwind base;
@tailwind components;
@tailwind utilities;
@import './general.css';

*::selection {
  @apply bg-green-400;
  @apply text-white;
}

.transition-element {
  @apply flex;
  @apply items-center;
  @apply transition-all;
  @apply duration-200;
  @apply ease-in-out;
}

.header {
  @apply text-3xl;
  @apply font-bold;
  @apply text-gray-900;
}

.link {
  @apply transition-element;
  @apply text-green-400;
  @apply inline;
}

.link:hover {
  @apply text-green-700;
}

.primary-button {
  @apply cursor-pointer;
  @apply rounded-full;
  @apply w-full;
  @apply mt-6;
  @apply bg-green-500;
  @apply text-white;
  @apply py-2;
  @apply px-4;
  @apply hover:bg-white;
  @apply hover:text-black;
  @apply transition-all;
  @apply duration-200;
}

.navbar {
  @apply transition-all;
  @apply flex;
  @apply flex-col;
  @apply absolute;
  @apply w-screen;
  @apply text-gray-800;
  @apply list-none;
  @apply bg-white;
  @apply top-0;
  @apply py-10;
  @apply mt-16;
  @apply px-5;
  @apply shadow-md;
  @apply rounded-md;
  @apply select-none;
}

.navbar li:hover {
  @apply text-gray-500;
}

.transparent-navbar {
  @apply text-white;
}
.transparent-navbar li:hover {
  @apply text-green-200;
}

.error {
  @apply text-red-600;
}

.jsonPretty {
  height: 500px;
  max-height: 600px;
  max-width: 95vw;
  overflow: overlay;
  font-size: 1em;
  color: rgb(153, 218, 255);
}

.__json-key__ {
  color: rgb(184, 245, 209);
}
.__json-string__ {
  color: rgb(255, 255, 255);
}

.demo-inputs-container {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 768px) {
  .demo-inputs-container {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .jsonPretty {
    height: 450px;
    max-height: 600px;
    max-width: 600px !important;
    width: 600px !important;
    overflow: overlay;
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .navbar {
    @apply flex-row;
    @apply w-auto;
    @apply relative;
    @apply bg-transparent;
    @apply py-0;
    @apply mt-0;
    @apply px-0;
    @apply shadow-none;
  }

  .transparent-navbar,
  .transition-navbar:hover {
    @apply text-white;
  }
}

.rFix {
  transform: rotateX(25deg);
}

.mentioned-in img {
  @apply my-6;
  @apply mx-4;
  transition: all 0.1s ease;
  width: 150px;
}

.mentioned-in img:hover {
  filter: invert(44%) sepia(25%) saturate(728%) hue-rotate(89deg) brightness(94%) contrast(81%);
}
