name: Dockerize Igbo API

on:
  push:
    branches:
      - master

jobs:
  dockerize:
    name: Dockerize
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Use Node.js @16
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Log into Docker Account
        run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker Image
        run: docker build -t igbo_api .
      - name: Push Docker Image
        run: |
          docker tag igbo_api $DOCKER_USERNAME/igbo_api_server
          docker push $DOCKER_USERNAME/igbo_api_server
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
